# PROJET MACH_BDA_DATAVIZ

In [ ]:
import pandas as pd
from datasets import load_dataset
import numpy as np
from pathlib import Path

In [ ]:
dataset = load_dataset("d0r1h/customer_churn")

df = pd.DataFrame(dataset['train'])

In [ ]:
df.iloc[0]

### Traitement des Données

In [21]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,28373.000000,28373.000000,28373.000000,28373.000000,28373.000000,28373.000000
mean,37.081310,-42.587319,243.610043,29314.556610,688.008287,0.539703
std,15.894149,230.134583,401.153815,19509.169615,194.227585,0.498430
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,0.000000
25%,23.000000,8.000000,59.840000,14191.820000,616.620000,0.000000
50%,37.000000,12.000000,161.670000,27562.670000,698.480000,1.000000
75%,51.000000,16.000000,356.580000,40901.120000,764.960000,1.000000
max,64.000000,26.000000,3040.410000,99914.050000,2069.069761,1.000000

In [20]:
df.isnull().sum()

age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [19]:
df.dropna(inplace=True)

### Analyse et visualisation exploratoire des Données

### Evaluation de plusieurs modèles avec les bonnes métriques

### Visualiser et interpreter les résultats